

.formet
{
    display: flex;
    flex-direction: column;
    border:  2px solid black;

    justify-content: space-between;
}

.inputField{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding-left: 20px;
}
.rowTitle{
    min-width: 100px;
}