/* NavMenu.css */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333;
  
  color: #fff;
}

ul {
  list-style-type: none;

}

.dropdown {
  position: relative; /* Set position to relative for dropdown container */
  display: block; /* Make dropdown container block */
}

.dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute; /* Set position to absolute */
  background-color: #333; /* Background color for dropdown */
  min-width: 160px; /* Set minimum width for dropdown */
  z-index: 1; /* Set z-index to show above other elements */
}

.dropdown-content a {
  color: #fff; /* Text color for dropdown links */
  padding: 12px 16px; /* Padding for dropdown links */
  text-decoration: none; /* Remove default text decoration */
  display: block; /* Display links as block elements */
}

/* Hover effect for menu item */
.dropdown:hover .dropdown-content {
  display: block; /* Show dropdown content on hover */
  
}

/* Hover effect for menu item */
.dropdown:hover > a {
  background-color: #4f504f; /* Change background color when hovered */
  color: black;
}
/* Hover effect for dropdown content */
.dropdown-content a:hover {
  background-color: #555; /* Change background color when hovered */
  color: rgb(137, 137, 8);
}

