.registerResultBody
{ 
    border:  2px solid black;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fylli
{
    height: auto;
    border:  2px solid black;
}
.navButton{
    align-self: start;
    padding-left: 10px;
    padding-top: 10px;
}
